
Talleres/WhatsApp Video 2019-02-02 at 1.22.11 PM.mp4
Talleres/96f945a2-a076-4e8b-9ca0-3094643fe549.jpg
Talleres/WhatsApp Image 2019-02-02 at 1.26.28 PM.jpeg
Talleres/2019_1_mcpp_taller_1Enproceso.ipynb
Talleres/2019_1_mcpp_taller_1Enproceso.ipynb
Talleres/2019_1_mcpp_taller_1Enproceso.ipynb
Talleres/2019_1_mcpp_taller_1Enproceso.ipynb
Talleres/EmbeddedImage.png
